<ion-scroll direction="x" class="home-panel" view-title="Home" on-swipe-left="menuScrollLeft()" on-swipe-right="menuScrollRight()">
    <div class="document-list infinite-list">
        <ul class="list-inline">
            <li class="document-item welcome-text-section">
                <h2>Bienvenue sur votre espace personnel.</h2>
            </li>
            <li class="document-item notification-section">
                <div class="card notification">
                    <div class="button square notification-header" href="#/app/notifications">
                        <i class="ionicons ion-bag"></i>
                        1 notification
                    </div>
                    <br>
                    Vous cherchez une aide ménagère pour 20h par mois.
                    <br><br>
                    Nous avons 2 personnes à vous recommander.
                    <br><br>
                    <button class="button button-assertive">VOIR LES 2 INTERVENANTS</button>
                </div>
            </li>
            <li class="document-item actions-section">
                <div class="actions row">
                    <div class="col col-50">
                        <button class="button action" href="#/app/notifications">
                            <i class="ionicons ion-bag"></i>
                            Mon planning
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button action col-offset-4 col-48" href="#/app/notifications">
                            <i class="ionicons ion-bag"></i>
                            Ma communauté
                        </button>

                    </div>
                    <div class="col col-50">
                        <button class="button action col-48" href="#/app/notifications">
                            <i class="ionicons ion-bag"></i>
                            Mon planning
                        </button>
                    </div>
                    <div class="col col-50">
                        <button class="button action col-offset-4 col-48" href="#/app/notifications">
                            <i class="ionicons ion-bag"></i>
                            Ma communauté
                        </button>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</ion-scroll>
