<ion-side-menus enable-menu-with-back-views="false" expose-aside-when="large" ng-class="{open:menuIsOpen}">
    <ion-side-menu side="left" class="left-menu" width="100" ng-class="{open:menuIsOpen}">


        <ion-content class="main-menu">
            <ion-list>
                <ion-item nav-direction="enter"
                          ui-sref-active="active"
                          ui-sref="app.home"
                          ng-click="menuScrollRight()"
                        >
                    <img src="img/nav/ico-home.png" alt="">

                    <div class="subtext">Accueil</div>
                </ion-item>
                <ion-item  
                    ui-sref="app.encours"
                    ng-click="menuScrollRight()"
                    ui-sref-active="active"
                    nav-direction="enter">
                    <img src="img/nav/ico-cloche.png" alt="">

                    <div class="subtext">2 choses à faire</div>
                </ion-item>

                <ion-item
                        nav-direction="enter"
                        ng-click="menuScrollRight()"
                        ui-sref="app.intervenants-recherche"
                        ui-sref-active="active"
                        >
                    <img src="img/nav/ico-loupe.png" alt="">

                    <div class="subtext">J'ai besoin de...</div>
                </ion-item>
                <ion-item
                        nav-direction="enter"
                        ui-sref-active="active"
                        ui-sref="app.my-agenda"
                        ng-click="menuScrollRight()"
                        >
                    <img src="img/nav/ico-calendar.png" alt="">

                    <div class="subtext">Mon planning</div>
                </ion-item>

                <ion-item menu-close
                          ui-sref="app.encours"
                        >
                    <img src="img/nav/ico-communaute.png" alt="">

                    <div class="subtext">Ma communauté</div>
                </ion-item>



                <ion-item
                        ui-sref="app.encours"
                        ng-click="menuScrollRight()"
                        nav-direction="enter">
                    <img src="img/nav/ico-help.png" alt="">

                    <div class="subtext">Aide et mon compte</div>
                </ion-item>

                <ion-item
                        ng-class="{'hide': 'showBackButton' }"
                        ng-controller="AppCtrl" nav-direction="back" ng-click="goBack()"
                        class="assertive button-assertive button-back"
                        href="{{ backButtonLink }}"
                        >
                    <i class="fa fa-angle-left fa-2x button-assertive"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <ion-side-menu-content>
        <ion-nav-view name="menuContent" class="inapp-page"></ion-nav-view>
    </ion-side-menu-content>


</ion-side-menus>
