<ion-nav-view name="registerContent" class="landing-page">
    <div class="page-body">

        <div class="header-left">
<!--             <a class="button button-clear button-calm" href="#/register/step1/intro">Qu'est ce que c'est?</a> |
            <a class="button button-clear button-calm" href="#/register/step1/intro">C'est pour qui?</a> | -->
            <a class="button button-assertive button-connex" href="#/login">Connexion</a>
        </div>

        <div class="intro-section">
        
        <h2>L’aide à domicile sponsorisée avec un truc en plus!</h2>
        <a class="button button-assertive button-register" href="#/register/step1/intro">S'inscrire</a>
        </div>
    </div>
</ion-nav-view>
