<ion-nav-view name="registerContent" class="register-page register-intro-page">
    <div class="page-body">
        <div class="page-title">
            <div class="page-title">
            <div class="breadcrumb">
                <h1>ETAPE 1</h1>
                <h2 class="step">Tout d’abord, parlez-nous de vous</h2>
            </div>
            <div class="breadcrumb active">
                <h1>ETAPE 2</h1>
                <h2 class=" step">Vos coordonnées personnelles</h2>
            </div>
            <div class="breadcrumb">
                <h1>ETAPE 3</h1>
                <h2 class="step">Choisir votre mot de passe</h2>
            </div>
        </div>
        </div>
        <a nav-direction="back" class="button button-assertive button-previous" href="#/register/step1/form"><i
                class="fa fa-angle-left"></i></a>
        <a class="button button-assertive button-next" href="#/register/step2/form"><i class="fa fa-angle-right"></i> Suivant</a>
    </div>
</ion-nav-view>
