<ion-view  class="intervenants-panel intervenants-natural-form" view-title="Intervenants">
    <form class="natural-form" ng-submit="doSearch()">
        <div class="form-text-section">

            <h2 class="balanced">Votre recherche</h2>

            <div class="calm">
                <div class="form-text">Je veux voir des</div>

        
                <div class="form-text"> intervenants</div>
                <div class="item item-select input-item first-input">
                    <select ng-model="search.skills" class="input-item item-large input-assertive">
                        <option value>.........</option>
                        <option value="menage">ménage</option>
                        <option value="courses">courses</option>
                        <option value="transport">transport</option>
                        <option value="cuisine">cuisine</option>
                        <option value="travaux">travaux</option>
                        <option value="animaux">animaux</option>
                        <option value="toilette">toilette</option>
                        <option value="portage-repas">Portage repas</option>
                        <option value="portage-medicaments">Portage médicaments</option>
                        <option value="depannage">Dépannage</option>
                        <option value="jardinage">Jardinage</option>
                        <option value="aide-menagere">Aide-ménagère</option>
                        <option value="nuit">nuit</option>
                        <option value="cuisine">cuisine</option>
                        <option value="objets-connectes">Objects Connectés</option>
                    </select>

                </div>
                <div class="clearfix"></div>



                <div class="form-text text-part-two">classés par</div>
                <div class="item item-select input-item second-input">
                    <select ng-model="search.sort" class="input-item assertive">
                        <option value>.........</option>
                        <option value="friendshipScore">note humaine</option>
                        <option value="skillsScore">note technique</option>
                        <option value="distance">proximité géographique</option>
                    </select>
                </div>


            </div>
        </div>
        <button class="button button-assertive button-next" type="submit"><i class="fa fa-angle-right"></i> Rechercher
        </button>

    </form>
</ion-view>
