<ion-nav-view class="intervenants-panel intervenants-results-panel" view-title="Intervants">
    <form class="natural-form">
        <div class="">
        </div>
    </form>
    <ion-scroll direction="x" overflow-scroll="true" class="document-list infinite-list"
                delegate-handle="intervenants-handle">
        <ul class="list-inline" on-swipe-left="menuScrollLeft($event)" on-swipe-right="menuScrollRight($event)">
            <li class="document-item results-recap-section">
                <div class="results-count" count-to="{{ finalCount }}" value="{{ originalCount }}" duration="0.5"></div>
                <div class="results-text">résultats correspondent à votre recherche</div>
                <i class="fa fa-angle-right fa-4x assertive"></i>
            </li>
            <li class="document-item intervenant" ng-repeat="intervenant in intervenants"
                id="intervenant-{{ intervenant.code }}">
                <div class="card card-intervenant">
                    <div class="top-block" ng-click="openProfileModal('{{intervenant._id}}')">
                        <img class="round" alt="{{ intervenant.firstname }}"
                             src="img/intervenants/snap-{{ intervenant.code }}.jpg"/>

                        <div class="name balanced">{{ intervenant.firstname }}</div>
                        <div class="age balanced">{{ intervenant.age }} ans</div>
                        <div class="score friendship-score">
                            <i class="fa fa-star "
                               ng-repeat="n in range(0, 3)"
                               ng-class="{'active':  intervenant.friendshipScore > n }"></i>
                        </div>
                        <div class="skill balanced">
                            Intervenant {{ search.skills }}
                        </div>
                    </div>
                    <div class="action-block">
                        <button class="button button-assertive button-open-profile button-block"
                                ng-click="openProfileModal('{{intervenant._id}}')"><i
                                class="fa fa-angle-right"></i> Voir la fiche
                        </button>
                    </div>
                </div>
            </li>

        </ul>
    </ion-scroll>
</ion-nav-view>
