/*

  MENU LEFT
  HOME PAGE                     : home page after connexion
  LANDING PAGE                  : intro page that leads to registration or connexion
  LOGIN PAGE                    : Login page
  REGISTER PAGES                : pages for registering in the app
  NATURAL FORM                  : form with the select embedded
  AGENDA CALENDAR               : Calendar planning
  INTERVENANTS RESULTS          : Results of intervenants search
  INTERVENANTS MODAL            : Modal that displays the intervenant profile
  INTERVENANTS MAP              : Map with the nearest intervenants

 */



.scroll {
    height: 100%;
}

body, html, h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .button {
  color: #000;
  font-weight: 500;
  font-family: "Raleway", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

h1, h2 {
    color: #1F565B;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-weight: 200;
}

h3 { 
    margin-bottom: 40px;
    letter-spacing: -1px;
}

/*.pane.view.open*/

/**
MENU LEFT
*/

.pane.view.open .menu-content.pane {
    transform: translate3d(0, 0, 0)!important;
    width: 824px!important;
    padding-right: 0;
    right: 0;
    left: 200px;
}

.left-menu {
    width: 100px !important;
    z-index: 2;
    -webkit-transition: width 200ms linear;
    transition: width 200ms linear;
}

.fa-briefcas {
    background: url("../img/nav.png");
}

.pane.open .left-menu {
    width: 200px !important;
}

.main-menu .item {
    height: 111px;
}

.pane.open .left-menu .item {
    width: 201px !important;
}

.button-back {
    margin-bottom: 15px;
}

.pane.open .left-menu .button-back .fa-angle-left:before {
    content: "Retour";
    font-family: "raleway";
    font-weight: 200;
    font-size: 32px;
}

.pane .left-menu .subtext {
    display: none;
}

.pane.open .left-menu .subtext {
    display: block;
    font-size: 14px;
}

.menu .button-back {
    margin-bottom: 0;
    background-color: #F56D74;
    height: 97px;
    width: 100%;
    color: white;
    border-radius: 0;
}

.menu .button-back .button-assertive {
    font-size: 50px;
    line-height: 60px;
}

.menu .button-home {
    background-color: #8F637E;
    color: white;
    border-radius: 0;
    margin: 1px 0 0 10%;
    width: 80%!important;
    border-bottom: 1px solid #8E627B;
}

.menu .button-home .button-assertive {
    font-size: 50px;
    line-height: 50px;
}

.scroll .list {
    height: 100%;
}

.menu .item-content {
    height: 100%;
    background: transparent;
    padding: 16px 0;
    text-align: center;
}

.pane.open .left-menu .list .item-complex:nth-child(1),
.pane.open .left-menu .list .item-complex:nth-child(2),
.pane.open .left-menu .list .item-complex:nth-child(3),
.pane.open .left-menu .list .item-complex:nth-child(4),
.pane.open .left-menu .list .item-complex:nth-child(5),
.pane.open .left-menu .list .item-complex:nth-child(6) {
    margin: 1px 0 0 10%;
    width: 80%!important;
    border-bottom: 1px solid #8E627B;
}

.fa-home, .fa-briefcase, .fa-search, .fa-calendar-check-o, .fa-users, .fa-question {
    color: #8E627B;
    margin: 10px 0;
    font-size: 28px;
}

.fa-stack, .fa-stack-1x, .fa-stack-2x {
    line-height: 70px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated {
    background-color: #583B50!important;
}

/*.item.item-complex.active {

}*/

.item.item-complex.active .item-content i.fa {
    color: #FFFFFF;
    margin: 10px 0;
    font-size: 28px; 
}

.infinite-list .button.square {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 1.2;
    margin: 5px auto;
}

.infinite-list .button.square i {
    display: block;

}

.document-list {
    overflow-x:scroll;
    overflow-y:hidden;
    height: 100%;
    padding: 0 15px;
    -webkit-overflow-scrolling: touch;
    padding: 30px 15px 12px;
    white-space: nowrap;
    list-style: none;
}

.document-item
{
    padding:0;
    height:100%;
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 0 10px
}

.list-inline {
    white-space:nowrap;
    height: 100%;
}


input,
select,
textarea {
    transition: all 40ms linear;
    direction: ltr !important;
}

input.ng-invalid:not(.ng-untouched),
select.ng-invalid:not(.ng-untouched),
textarea.ng-invalid:not(.ng-untouched) {
    border: 3px solid red;
}
.error-message {
    display: none;
}
input.ng-invalid:not(.ng-untouched) + .error-message ,
select.ng-invalid:not(.ng-untouched) + .error-message ,
textarea.ng-invalid:not(.ng-untouched) + .error-message {
    display: block;
    color: red;
}


/**

LANDING PAGE

*/

.home-panel {
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: rgba(216, 216, 216, 0);
}

.home-panel .document-item {
    height: initial;
    transform: translateY(6%);
}

.home-panel .menu-content.pane {
    width: inherit;
}

.home-panel .document-list .notification-section .card.notification  {
    height: initial;
    padding: 80px 30px;
    margin: 0;
}

.home-panel .card.notification {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #1F565B;
    background-color: #F6F0F1;
}

.home-panel .document-list .welcome-text-section {
    width: 400px;
    margin: 170px 80px;
}

.home-panel .card.notification .fa {
    font-size: 50px;
}

.home-panel .card.notification h2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
    width: 400px;

}

.home-panel ul.list-inline li.document-item.welcome-text-section h2 {
    font-size: 65px;
    color: #1F565B;
    vertical-align: middle;
    text-align: left;
    top: 15%;
}

.home-panel .home-action.card {
    margin: 0;
    padding: 50px 30px 0;
    background: #F6F0F1;
    width: 400px;

}

.home-panel .document-item .home-action.card:first-child {
    margin-bottom: 20px;
}

.home-panel .home-action.card .action-title {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #1F565B;
    text-align: center;
}

.home-panel button.button-assertive {
    display: block;
    text-align: center;
    margin: 30px auto 0;
    text-transform: uppercase;
}

.home-panel button.button-assertive:after {
    text-transform: uppercase;
}

.home-panel .action-description {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #1F565B;
    background-color: #F6F0F1;
    text-align: center;
}

.home-panel img {
    display: block;
    height: 52px;
    font-size: 50px;
    color: #1F565B;
    text-align: center;
    margin: 0px auto 31px;
}

/**

LANDING PAGE

*/

.landing-page {
    background: url('../img/bg/colette.jpg') no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
}

.landing-page .button-register {
    text-align: center;
}

.landing-page .header-left {
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 65px;
}

.landing-page .intro-section {
    position: absolute;
    left: 100px;
    top: 200px;
    width: 500px;
}


/**
LOGIN PAGE
*/

.login-page , .register-page, .inapp-page  {
    background: url('../img/bg/colette-floue-2.png') no-repeat;
    background: rgba(255, 255, 255, 0);
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
}

[nav-view-transition="ios"][nav-view-direction="forward"], [nav-view-transition="ios"][nav-view-direction="back"] {
    background: rgba(255, 255, 255, 0);
}

.login-form {
    width: 500px;
    height: inherit;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3)!important;
}

.login-form h3 {
    font-size: 40px;
    color: #1F565B;
    font-weight: 500;
}

.login-form span {
    font-size: 25px;
}

.login-form .item-input {
    margin: 5px 0 30px;
    padding: 0;
    height: 58px;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}

.login-form input {
    padding: 6px 16px 6px 16px;
    line-height: 30px;
    height: 56px;
    padding-right: 0;
    font-size: 25px;
}

.login-form .button.button-block.button-assertive {
    width: 180px;
    margin: 0 auto;
    border-radius: 0;
}


/**
REGISTER PAGES
*/

body {
    background: url('../img/bg/colette-floue-2.png') no-repeat;
    background-size: cover;
}


.register-page input[type="text"] {
    padding: 6px 16px 6px 16px;
    line-height: 30px;
    height: 56px;
    padding-right: 0;
    font-size: 25px;
}

.register-intro-page .col.col-60  .item-input {
    color: #5A3B4F;
    font-size: 20px;
    padding-left: 10px;
    font-weight: 900;
}

.registerHeader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    background-color: #5A3B4F;
}

.register-intro-page .page-body {
    padding-left: 100px;
    padding-top: 90px;
    top: 50%;
    margin-top: -25px;
    height: 50px;
}

.register-intro-page .page-title {
    top: 50%;
    margin: -50px 0 0 50px;
    height: 100px;
    position: absolute;
}

.register-intro-page h1, .register-intro-page h2 {
    color: #2A565C;
}


.register-intro-page h1 {
    font-size: 40px;
}

.register-intro-page h2 {
    font-size: 40px;
    font-weight: 200;
}

.register-page .input-legend {
    font-weight: 500;
}

.register-page form {
    width: 75%;
}

.register-page form .label {
    display: block;
    color: #5A3B4F;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
    font-weight: 900;
}

.register-page form .label.align-fix {
    padding-left: 0px;
}

.register-page form .item-stacked-label {
    border: none;
}

.register-page form .input-legend {
    border: none;
    color: #5A3B4F;
    font-size: 15px;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: normal;
    margin: 12px 0 0 25px;
}

.register-page form .input-item {
    min-height: 70px;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 5px;
    font-weight: 900;
        line-height: 25px;
}

::-webkit-input-placeholder {
  color: #CDCDCD;
}

.register-page form .item-input, .register-page form select.input-item, .register-page form textarea, .register-page form .input-item {
    margin: 0 0 15px;
}

.register-page form.step3 .item-input {
    margin: 0 0 30px;
}

.register-page form select {
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
}

.register-page form .row.aligned-left,
.register-page form .row.aligned-left .col-60{
    padding-left: 0px;
}

.register-page form .item-input textarea {
    padding: 15px;
}

.row {
    padding: 0 5px;
}

.col {
    padding: 5px;
}

.ng-pristine .row:nth-child(3) .row {

    
}

.row:nth-child(3) .item-select {
    margin-top: 5px;
}

.register-page input[type="radio"]:checked,
.register-page input[type="radio"]:not(:checked) {
    width: 26px !important;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    border: 3px solid #1F565B;
    border-radius: 100%;
    flex: none!important;
}

.register-page input[type="radio"]:nth-child(2) {
    margin-left: 50px;
}


.register-page input[type="radio"]:checked:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    margin: 3px;
    background-color: #3F98A7;
    border-radius: 100%;
}

input[type="radio"].female {
    margin-left: 80px!important;
}

.item-select:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    margin: -3px 0 0 0!important;
    padding: 0!important;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #F56D74;
    content: "";
    pointer-events: none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
}

.button.button-previous {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -35px;
    height: 70px;
    width: 70px;
    color: white;
    border-radius: 0;
}

.button.button-previous .fa {
    font-size: 40px;
    line-height: 70px;
}

.button.button-next {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -32px;
    height: 65px;
    color: white;
    border-radius: 0;
    font-size: 15px;
}

/* STEP 3 */

form.step3 {
    width: 85%;
    margin-top: 68px;
}

.step3 label.item {
    float: left;
    width: 50%;
}

.ng-invalid.ng-invalid-required:placeholder-shown {
    content: "ce champ est obligatoire";
}

.register-page form.step3 .input-legend {
    margin: -10px 0 0 0;
    color: #1F565B;
}

.addPicture {
    flex: initial;
    display: block;
    position: relative;
    width: 46%;
    margin: 0 2% 5%;
    padding: 0;
    overflow: hidden;
}

.register-page form .input-legend.legendPicture {
    margin-top: 60px;
}

.camera {
    width: 100%;
    height: 300px;
    background: url('../img/profil.png') 50% 40% no-repeat #FFF;
    background-size: 100px 100px;
}

.addPicture .button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#coordinatedFormular {
    bottom: 0;
    top: initial;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}


/**
  #PANELS

*/

.intervenants-panel {
    background: url('../img/bg/colette-floue-2.png') no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
}

.intervenants-panel .scroll {
    height: initial;
}

/**
* NATURAL FORM
*/
.natural-form {
    position: relative;
    font-size: 3em;
    color: #5A3B4F;
    margin-left: 50px;
    font-family: "Raleway";
    font-weight: 200;
}

.natural-form h2 {
    font-size: 70px;
    color: #1F565B;
    vertical-align: middle;
    text-align: left;
    top: 15%;
    font-weight: 200;
    text-transform: none;
}

.intervenants-natural-form form {
    height: 300px;
    top: 50%;
    margin-top: -150px;
}

.intervenants-natural-form .form-text-section {
    font-size: 1em;
    width: 600px;
}

.intervenants-results-panel .natural-form {

}

.natural-form .item-select
{
    outline: none;
    display: inline-block;
    background: transparent;
    border: none;
    padding: 0px;
    /*border-bottom: 5px dotted #F56D74;*/
}


.natural-form .item-select:focus
.natural-form select:focus
{
    outline: none;
}

.natural-form .item-select:after {
    display: none;
}

.natural-form .item-select select {
    background: transparent;
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0;
    text-align: center;
    direction: ltr;
    color: #F56D74;
    font-family: "Raleway";
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 35px!important;
    text-decoration: underline;
}
.natural-form .form-text {
    letter-spacing: -1px;
    display: inline-block;
    line-height: 50px;
    font-size: 35px!important;
}

.natural-form ul li {
    margin-left: 45px;
    padding-left: 10px;
    list-style-type: decimal;
}

.natural-form ul {
    margin: 30px 0;
}

.calm, a.calm {
    margin-top: 40px;
}

.natural-form .item-select.first-input,
.natural-form .item-select.second-input {
    width: auto;
    min-width: 150Px;
    overflow: visible;
}

.natural-form .button-next {
    font-size: 15px;
    font-weight: 600;
}



/**
* INTERVENANTS RESULTS
*/

.balanced, a.balanced {
    color: #1F565B;
    font-weight: 500;
    font-size: 40px;
}

.calm, a.calm {
    color: #1F565B;
    font-size: 40px;
}

.modal-backdrop-bg {
    display: none;
}

.results-recap-section {
    color: #2A565C;
    top: 30%;
    height: 100px;
    position: relative;
}

.results-recap-section .results-count {
    display: inline-block;
    font-size: 330px;
    font-weight: 200;
    letter-spacing: -10px;
    margin-top: 200px;
    margin-right: 10px;
    margin-left: 30px;
}

.results-recap-section .results-text {
    display: inline-block;
    width: 300px;
    font-size: 35px;
    font-weight: 400;
    line-height: 1em;
}

.intervenants-results-panel .fa-4x {
    font-size: 150px;
}

.card {
    box-shadow: none;
}

.card-intervenant {
    height: 534px;
    margin: 0 20px;
    padding: 20px;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.card-intervenant.active {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 75%;
}

.card-intervenant img.round {
    width: 215px;
    height: 215px;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


.card-intervenant .name {
    font-weight: 400;
    font-size: 35px;
}


.card-intervenant .age {
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
}

.card-intervenant .score {

}

.card-intervenant .action-block {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 52.5px;
    width: 208px;
}
.card-intervenant .button-open-profile {
    margin: 0 auto;
    width: 208px;
    border-radius: 0px;
    font-weight: 600;
}

.card-intervenant .button-open-map {
    margin: 0 auto;
    padding: 0;
    width: 208px;
    font-weight: 600;
}

.score .fa-star {
    font-size: 1.8em;
    margin: 5px 5px;
}

.card-intervenant .button.button-assertive.button-clear {
    line-height: 40px!important;
}

.card-intervenant .action {
    bottom: 8px;
    position: absolute;
    width: 78%;
}

/**
* INTERVENANTS MODAL
*/

.intervenant-profile .row {
    padding: 0;
}

.intervenant-profile-modal.modal {
    border-radius: 15px;
    top: 2%;
    bottom: -5%;
    left: 21%;
    width: 75%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.intervenant-profile .calendar-image img {
    margin-top: 40px;
}

.intervenant-profile .profile-side {
    position: absolute;
    background-color: #F6F0F1;    
    width: 36%;
    padding: 4%;
    margin: 0;
    border-radius: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 2;
}

.intervenant-profile .profile-side .button.button-new-interview {
    margin-top: 20px;
}

.intervenant-profile .scroll-content {
    width: 64%;
    left: 36%;
}

.intervenant-profile .profile-info {
    position: relative;
    padding: 0 30px;
}

.intervenants-panel #calendar-section {
    min-height: 327px;
}

.profile-info .calm, .profile-info a.calm {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

.header-intervenant-profile-detail {
    position: absolute;
    top: 0;
    right: 0%;
    left: 277px;
    height: 73px;
    background-color: white;
    z-index: 2;
}

.intervenant-profile .header-intervenant-profile-detail h1 {
    background-color: #3F98A7;
    position: absolute;
    z-index: 2;
    color: #fff;
    top: 0;
    text-align: center;
    font-weight: 200;
    width: 70%;
    margin: 0 15%;
    padding: 15px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.intervenant-profile .header-intervenant-profile-detail .ion-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    color: #F56D74;
}


.intervenant-profile .scroll {
    padding: 70px 0;
}

.intervenant-profile .scroll .fc-slats {
    background: url("../img/planning-v3.png") 28px 0 no-repeat;
    background-size: 404px 392px;
}

.intervenant-profile .button-return {
    position: fixed;
    top: 0;
    left: 0;
}

.intervenant-profile .calendar-image img{
    width: 100%;
    cursor: pointer;

}

.intervenant-profile .commentaire {
    margin: 20px 20px 0;
    border-bottom: 1px solid #F6F0F1;
    padding-bottom: 20px;
}

.info-commentateur {
    width: 100px;
    text-align: center;
}

.intervenant-profile .commentaire img {
    width: 70px;
    display: inline-block;
}

.intervenant-profile .commentaire-text {
    width: 265px;
    margin: 0 0 0 20px;
    color: #1F565B;
    vertical-align: middle;
}

.intervenant-profile .info-commentateur, .intervenant-profile .commentaire-text {
    display: inline-table;

}

.intervenant-profile .commentaire-metadata {
    color: #1F565B;
}

.intervenant-profile .diploma {
    font-weight: 500;
    font-style: italic;
}

.card-intervenant.profile-side .actions {
    margin-top: 50px;
}

/**
INTERVENANTS MAP
*/

#map {
    width: 100%;
    height: 100%;
}


/**
INTERVENANTS AGENDA
*/

.intervenant-agenda-modal {
    background-color: #F6F0F1;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    box-shadow: 0 0 3px #555;
}


.intervenant-agenda {
    background-color: #F6F0F1;
}


.intervenant-agenda h2 {
    color: #3F98A7;
}


.intervenant-agenda .fc-time-grid-event {
    border: none;
    color: white;
    border-radius: 0;
    font-weight: 500;
    text-align: center;
}

.intervenant-agenda .button-return {
    position: fixed;
    top: 0;
    left: 0;
}

.user-agenda .fc-time-grid .fc-slats td {
    height: 3.1em!important;
    padding: 0;
    color: #583B50;
    border: 5px solid rgba(255, 255, 255, 0)!important;
}

.fc-day-header {
   border-right: 5px solid #CBDADD!important;
}

.my-agenda .fc-scroller.fc-time-grid-container {
    height: 580px!important;
}

.fc-slats {
    background: url("../img/planning-v3.png") 38px 0 no-repeat;
    background-size: 749px 570px;
}

.fc-event .fc-content {
    width: 116px;
}

.fc-bg {
    opacity: 0;
}

.fc .fc-axis {
    vertical-align: -webkit-baseline-middle;
}

.fc-time-grid .fc-slats, .fc-time-grid > hr {
    border: none;
}

.fc-time-grid .fc-slats table tbody tr:first-child td.fc-axis.fc-time.fc-widget-content {
    opacity: 0;
}

.fc-toolbar {
    opacity: 0;
    margin-bottom: 0;
}

hr.fc-divider {
    opacity: 0;
}

.my-agenda .user-agenda .fc-time-grid .fc-slats td {
    background: rgba(255, 255, 255, 0)!important;
    -webkit-transform: translateY(-10px);
}

.my-agenda h1.balanced {
    font-weight: 200;
    text-transform: none;
    font-size: 65px;
}

.my-agenda h3.calm {
    color: #583B50;
    font-size: 25px;
    font-family: helvetica;
    font-weight: 200;
    line-height: 36px; 
}

.my-agenda .fa-calendar-check-o {
    color: #1F565B;
    font-size: 50px;
    margin: 20px 0 20px;
}

.my-agenda .document-list .welcome-text-section {
    width: 400px;
    margin: 100px 80px;
}

body .pane .view-container .my-agenda {
    transform: translate3d(0, 0, 0)!important;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: rgba(221, 221, 221, 0);
}

.my-agenda .fc-day-header {
    background-color: #3F98A7;
    color: white;
    padding: 10px!important;
    font-family: helvetica;
    text-transform: uppercase;
    text-align: left!important;
    font-size: 16px;
}


.my-agenda .fc-bg td {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(255, 255, 255, 0);
    transform: translateX(0px);
}

.my-agenda .fc-bg td.fc-axis {
    background-color: rgba(255, 255, 255, 0);
    border: 5px solid rgba(255, 255, 255, 0);
    transform: translateX(0px);

}

.my-agenda .fc-row.fc-widget-header {
    margin: 3px 0;
}

/*.user-agenda .fc-time-grid .fc-slats td {
    height: 2em;
    border-bottom: 0;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(255, 255, 255, 0);
    margin: 10px;
    padding: 10px;
    transform: translateY(0px);
}*/




/* LOGIN PAGE */

.button {
    border-radius: 0;
    line-height: 64px!important;
    padding: 0 20px;
}




/**
* AGENDA CALENDAR
*/

.my-agenda  .welcome-text-section ,
.my-agenda  #profile-calendar
{
    display: inline-block;
    text-align: center;
}

.my-agenda #profile-calendar {
    margin-right: 60px;
    width: 792px;
}



/**
* ON WORKING PAGE
*/

.pane .playlist h1 {
    font-size: 55px;
    line-height: 75px;
    font-family: raleway;
    text-transform: none;
    font-weight: 200;
    text-align: center;
    width: 600px;
    margin: 220px auto 100px;
}

.playlist .goBack {
    background: none;
    border: none;
}
.playlist .goBack a {
    height: 65px;
    width: 120px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    line-height: 65px;
    font-weight: 600;
    color: white;
    background-color: #F56D74;
    border-radius: 0;
    border: none;
    padding: 0;
    text-transform: uppercase;
}
